* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #3d755d;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header, footer {
    width: 100%;
    background: #59b45d;
}

header {
    margin-bottom: 30px;
}

footer {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
}

.small-text {
    font-size: 15px;
}

.main-title {
    color: #5eb58f;
}

h2.main-title {
    margin: 15px 0;
    font-size: 30px;
}

h3.main-title {
    margin: 10px 0;
    font-size: 23px;
}

footer .small-text {
    color: #fff;
    font-weight: 300;
}

header nav ul, ul.team-results {
    list-style: none;
    float:left;
    padding: 0;
    margin: 0;
}

header nav ul li {
    float:left;
    display: block;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    background:#59b45d; 
    padding: 13px 20px;
    display: inline-block;
    text-decoration: none;
    color: #adecb0;
}

header nav ul li a:hover {
    background: #fff;
    color: #000;
    opacity: 0.5;
}

header h1 {
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 5px 0px;
    font-size: 35px;
    text-align: right;
}