{{header}}

<h1>My Todos</h1>

<p>{{message}}</p>

<ul class="todos-list">
  {{todos}}
</ul>

<form action="/todos" method="post">
  <input type="text" id="title" name="title" placeholder="add a todo...">
  <select name="due">
    <option>Due date</option>
    <option value="today">Today</option>
    <option value="tomorrow">Tomorrow</option>
    <option value="next week">Next week</option>
  </select>
  <button type="submit">Add</button>
</form>

<script>
  // sends an http DELETE request to the server with title of the todo
  // to delete
  function deleteTodo(title) {
    var req = new XMLHttpRequest();
    req.onload = function() {
      if (req.status === 204)
        window.location.reload();
    }
    req.open('DELETE', '/todos');
    req.setRequestHeader('Content-Type', 'text/plain');
    req.send(title);
  }
</script>

{{footer}}
